@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --ion-font-family: v.$font-primary;
  --ion-background-color: v.$color-background;
  --ion-toolbar-background: v.$color-background;
  --ion-toolbar-color: v.$color-text;
}

/* Basic CSS for apps built with Ionic */
body {
  margin: 0;
  font-family: v.$font-primary !important;
  font-size: 1rem;
  font-weight: 400;
  background-color: v.$color-background;
  overflow-x: hidden;
  color: v.$color-text;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  color: white;
}

// .menu-backdrop {
//   backdrop-filter: blur(10px);
//   transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
// }

.custom-menu-button {
  background: rgba(0, 0, 0, 0.10);
  padding: 0.8rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;

  &:active {
    transform: scale(0.9);
  }
}

.required label::after {
  content: " *";
}

.custom-header-height {
  height: 128px;
}