/* ***************** COLORS ****************** */
// BRAND COLORS
$color-primary: #DAFF72;
$color-secondary: #FE9A66;
$color-tertiary: #1A2529;
$color-complementary-1: #19DF62;
$color-complementary-2: #266317;
$color-gray-1: #DCE4DB;
$color-gray-2: #7D7D7D;
$color-green-light: #F1F5EA;

/* ***************** COLOR SYSTEM ****************** */
$color-background: $color-primary;
$color-text: $color-tertiary;


/* ***************** FONTS ****************** */
// TYPOGRAPHY
$font-primary: 'Space Grotesk', system-ui, sans-serif;